/* Variable definitions and redefinitions of bootstrap variables (bs) */
/*****************************************************************************/
:root {
  --bs-body-font-size: 1.1rem;
  --bs-body-bg: #0b141d;
  --bs-body-color: #fefefe;
  --lu-light-blue: #61abff;
  --lu-light-blue-dim: #61abff33;
  --lu-blue: #459cff;
  --lu-mid-blue: #1a5597;
  --lu-darkish-blue: #122130;
  --lu-dark-blue: #0b141d;
  --lu-light-blue-gray: #c6e1ff;
  --lu-neon-glow: #459cff88;
}

/* Styles for basic elements */
/*****************************************************************************/
h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

h2 > a {
  text-decoration: none;
  color: var(--bs-body-color);
}

h2 > a:hover {
  text-decoration: underline;
  color: var(--bs-body-color);
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

hr {
  color: var(--lu-light-blue-dim);
  opacity: 1;
}

hr:not([size]) {
  height: 2px;
}

a {
  text-decoration: none;
  color: var(--lu-blue);
}

a:hover {
  text-decoration: underline;
}

a code {
  padding: 0;
  background-color: unset;
  border-radius: unset;
}

code {
  font-size: 1rem;
  color: var(--bs-body-color);
  background-color: var(--bs-gray-800);
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
}

pre {
  padding: 1.5rem;
  color: var(--bs-body-color);
  background-color: var(--bs-gray-900);
  border-radius: 0.2rem;
}

pre code {
  padding: 0;
  background-color: unset;
  border-radius: unset;
}

img {
  width: 100%;
}

figure {
  margin-bottom: 1rem;
}

figcaption {
  margin-top: 0.5rem;
  color: var(--lu-light-blue-gray);
  font-size: 1rem;
  text-align: center;
}

figure p {
  margin-bottom: 0;
}

li {
  margin-bottom: 0.5rem;
}

header {
  background-color: var(--lu-dark-blue);
  font-size: 1rem;
}

footer {
  padding: 5rem 0;
  width: 100%;
  color: var(--lu-light-blue-gray);
  background-color: var(--lu-dark-blue);
  font-size: 1rem;
  box-shadow: 0 1rem 5rem var(--lu-neon-glow);
  margin-top: 5rem;
}

footer code {
  font-size: 0.9rem;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

blockquote {
  color: var(--lu-light-blue-gray) !important;
  border-left: 0.25rem solid var(--lu-light-blue-gray);
  padding-left: 1rem;
}

table {
  margin-bottom: 1rem;
  width: 100%;
}

table th, table td {
  padding: 6px 13px;
}

table thead {
  border-bottom: 2px solid var(--lu-mid-blue);
}

table tr:nth-child(2n) {
  background-color: var(--lu-darkish-blue);
}

/* Tweaks to Bootstrap classes */
/*****************************************************************************/
.container {
}

.blockquote {
  font-size: var(--bs-body-font-size);
}

.blockquote-footer {
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: right;
  color: var(--lu-light-blue-gray);
}

.navbar {
  padding: 1rem 0;
  z-index: 3;
  position: relative;
}

.navbar-brand img {
  height: 2rem;
  width: auto;
  margin-right: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
  font-weight: normal;
  border-bottom: 2px solid #ffffff;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link.active:hover {
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  margin: 0 0.25rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 2px solid #fff;
}

.navbar-dark .navbar-nav .nav-link.nav-icon:hover {
  border-bottom: none;
}

li.nav-item {
  margin-bottom: 0;
}

li.list-inline-item {
  margin-bottom: 0;
}

.fa-li {
  line-height: inherit !important;
}

.text-muted {
  color: var(--bs-gray-500) !important;
}

.altmetric-embed img {
  width: auto;
}

/* Custom classes */
/*****************************************************************************/
.page-content {
  padding-top: 7rem;
  padding-bottom: 10rem;
}

.page-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.page-section-pattern {
  background-image: url("/images/pattern.svg");
  background-position: top;
  background-size: cover;
}

.page-section-light {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: var(--lu-darkish-blue);
}

.narrow-page {
  max-width: 750px;
}

.wide-page {
  max-width: 850px;
}

.callout {
  margin: 0 auto 1.5rem;
  color: var(--bs-body-color);
  border-left: 0.5rem solid var(--bs-yellow);
  background-color: var(--bs-gray-800);
  /* Set a tiny bottom padding because 0 causes it to ignore the p padding */
  padding: 1rem 1rem 0.001rem;
}

.callout a {
  text-decoration: none;
  color: var(--lu-light-blue-gray);
  color: var(--lu-light-blue);
}

.callout a:hover {
  text-decoration: underline;
}

.callout-warning {
  border-color: var(--bs-danger);
}

.callout-note {
  border-color: var(--bs-primary);
}

.overlay {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: url("/images/noise.png");
}

.banner {
  z-index: 3;
  position: relative;
  color: #ffffff;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.banner-background {
  position: relative;
  background-size: cover;
  z-index: 1;
  width: 100%;
}

.banner h1 {
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

.paper-info {
  padding: 1.75rem 1.5rem;
  border: 2px solid var(--lu-mid-blue);
  border-radius: 5px;
  background-color: var(--lu-darkish-blue);
  font-size: 1rem;
}

.nowrap {
  white-space: nowrap;
}

.headshot {
  border-radius: 50%;
  display: block;
}

.footer-nav {
  margin-top: -0.5rem;
}

.footer-nav .nav {
  margin-left: -1rem;
}

.footer-nav .nav .nav-link.active {
  color: var(--lu-light-blue-gray);
  font-weight: bold;
  text-decoration: none;
}

.footer-nav .nav .nav-link.active:hover {
  text-decoration: underline;
}

.footer-nav .nav .nav-link {
  color: var(--lu-light-blue-gray);
}

.footer-nav .nav .nav-link:hover {
  text-decoration: underline;
  color: var(--lu-light-blue-gray);
}

.blog h2 {
  margin-top: 4rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--lu-light-blue-dim);
}

.blog h3 {
  margin-top: 2rem;
}


/* Tweaks for rending Jupyter-based blog posts */
/*****************************************************************************/
/* Pad images with white to avoid tight margins */
.jupyter-notebook img {
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 0.2rem;
}


/* Tweaks to KaTeX */
/*****************************************************************************/
/* Enable horizontal scrolling for long equations */
.katex-display {
  overflow: auto hidden;
}
