body {
    font-size: 12pt;
}
h1 {
    margin-bottom: 21px;
}
h3 {
    font-size: 16pt;
    margin-bottom: 15px;
}

.breadcrumb {
    margin-top: 21px;
}

.category-header {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* The icon list in the about page */
.social {
    list-style-type: none;
    margin-top: 10.5px;
    padding: 0px;
}

.social > li {
    display: inline;
    margin-right: 3px;
}

.social > li > a{
    color: #333;
}

.menu {
    border: none;
    margin-bottom: 0px;
    background-color: #2780e3;
    color: #ffffff;
    position: relative;
    min-height: 50px;
    display: block;
    font-size: 12pt;
    line-height:50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.menu a {
    color: #ffffff;
}
.menu-brand {
    font-size: 19px;
}
.menu-brand > a:hover {
    text-decoration: none;
}
.menu-list {
    padding-top: 0px;
}
.menu-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-list > ul > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
}

.fa-ul {
    margin-top: 10px;
}

.fa-ul li {
    margin-bottom: 5px;
}

footer {
    width: 100%;
    margin-top: 100px;
    background-color: #2780e3;
    padding-top: 40px;
    padding-bottom: 60px;
    color: #afdddd;
 }

footer a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
 }
footer a:hover {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: underline;
 }

.list-group-item {
    border: none;
}

.list-group-item > i {
    margin-right: 5px;
}

img.pub-thumbnail {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

p.pub-date-author {
    margin-bottom: 20px;
    font-size: 14pt;
    font-style: italic;
}

.thumbnail {
    border-radius: 4px;
}

img {
    width: 100%;
}

.container-fluid {
    padding: 0;
}

.altmetric-embed img {
    width: auto; /* Prevent img width=100% in Chrome (makes it stretched) */
}

.site-description {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 45px;
    padding-right: 45px;
}

.banner-area {
    background-color: #2780e3;
    margin-bottom: 30px;
    color: #ffffff;
}

.banner {
    background-size: cover;
    width: 100%;
    min-height: 400px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5) inset;
    background-position: left top;
    margin: 0px;
}

.summary-box {
    padding-left: 45px;
    padding-right: 45px;
}
