/* To stick the footer to the bottom of the page */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 18px;
    line-height: 31.5px;
    /* Margin bottom by footer height with a little room to accomodate small
     * screens */
    margin-bottom: 400px;
}

h1 {
    margin-bottom: 21px;
    line-height: 1.5em;
}

h2 {
    margin-top: 31.5px;
    margin-bottom: 31.5px;
}

h3 {
    font-size: 26px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 31.5px;
}

pre {
    margin-bottom: 31.5px;
}

ul {
    margin-bottom: 31.5px;
    padding-left: 20px;
}

blockquote {
    font-size: 18px;
    line-height: 31.5px;
    padding: 0px 21px;
    color: #666;
}

i.fa {
    line-height: 26px;
}

i.ai {
    line-height: 26px;
}

.breadcrumb {
    margin-top: 21px;
    font-size: 16px;
}

.category-header {
    margin-bottom: 20px;
    font-size: 36px;
}

.category-row {
    margin-bottom: 100px;
}

/* The icon list in the about page */
.social {
    list-style-type: none;
    margin-top: 10.5px;
    padding: 0px;
}

.social > li {
    display: inline;
    margin-right: 3px;
}

.social > li > a{
    color: #333;
}

.menu {
    border: none;
    margin-bottom: 0px;
    background-color: #2780e3;
    color: #ffffff;
    position: relative;
    min-height: 50px;
    display: block;
    font-size: 16px;
    line-height:50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu a {
    color: #ffffff;
}

.menu-brand {
    font-size: 19px;
    padding: 0px;
}

.menu-brand > a:hover {
    text-decoration: none;
}

.menu-list {
    padding: 0px;
}

.menu-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list > ul > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
}

.menu-list > ul > li > a > i.fa {
   line-height: 10px;
}

.fa-ul {
    margin-top: 10px;
}

.fa-ul li {
    margin-bottom: 5px;
}

footer {
    width: 100%;
    background-color: #2780e3;
    padding-top: 70px;
    padding-bottom: 50px;
    color: #afdddd;
    /* To stick the footer to the bottom of the page */
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    min-height: 180px;
    font-size: 16px;
    line-height: 24px;
}

footer a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

footer a:hover {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.list-group-item {
    border: none;
}

.list-group-item > i {
    margin-right: 5px;
}

img.pub-thumbnail {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 21px;
}

p.pub-date-author {
    margin-bottom: 20px;
    font-size: 14pt;
    font-style: italic;
}

.card {
    border: none;
    padding: 20px 0px;
}

.card-caption {
    padding-top: 9px;
    padding-bottom: 9px;
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}

.card-title {
    color: #2780e3;
}

.card-date {
    color: #aaaaaa;
}

img {
    width: 100%;
}

.container-fluid {
    padding: 0;
}

.altmetric-embed img {
    width: auto; /* Prevent img width=100% in Chrome (makes it stretched) */
}

.embed-responsive {
    margin-bottom: 31.5px;
}

.site-description {
    margin: 0px;
    padding: 100px 0px;
    line-height: 60px;
    font-size: 34px;
    font-weight: 300;
}

.banner {
    background-size: cover;
    width: 100%;
    min-height: 400px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5) inset;
    margin: 0px;
}

.summary-box {
    padding-left: 45px;
    padding-right: 45px;
}

.alert-blue {
    background-color: #2780e3;
}

.blog-roll {
    margin-bottom: 30px;
    margin-top: 30px;
    /*font-size:11pt;*/
}

.post-date {
    color: #aaaaaa;
    margin-bottom: 0px;
}

.info-bar {
    font-size: 16px;
}

.info-bar > h2 {
    margin-bottom: 10.5px;
}

.info-bar > ul > li {
    padding: 5px 0px;
}

.contact {
    margin-bottom: 31.5px;
}

.feedback {
    margin-bottom: 20px;
}

#disqus_thread {
    margin-top: 90px;
}
