/* To stick the footer to the bottom of the page */
html {
    position: relative;
    min-height: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    line-height: 1.7em;
    /* Margin bottom by footer height with a little room to accomodate small
     * screens */
    margin-bottom: 400px;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 2.5em;
    line-height: 1.4em;
    margin-bottom: 30px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding-bottom: 10px;
    font-size: 1.6em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
}

pre {
    margin-bottom: 30px;
}

ul {
    margin-bottom: 30px;
    padding-left: 20px;
}

blockquote {
    font-size: inherit;
    line-height: inherit;
    padding: 0px 21px;
    color: #666;
    margin-bottom: 30px;
}

i.fa {
    line-height: 1.7em;
}

i.ai {
    line-height: 1.7em;
}

.content {
    margin-top: 30px;
}

.category-header {
    font-size: 2em;
}

/* The icon list in the about page */
.social {
    list-style-type: none;
    margin-top: 10.5px;
    padding: 0px;
}

.social > li {
    display: inline;
    margin-right: 3px;
}

.social > li > a{
    color: #333;
}

.breadcrumb {
    font-size: 0.9em;
}

.menu {
    line-height:50px;
    border: none;
    margin-bottom: 0px;
    background-color: #2780e3;
    color: #ffffff;
    position: relative;
    min-height: 50px;
    display: block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu a {
    color: #ffffff;
}

.menu strong {
    font-weight: 800;
}

.menu-brand {
    padding: 0px;
}

.menu-brand > a:hover {
    text-decoration: none;
}

.menu-list {
    padding: 0px;
    font-size: 0.9em;
}

.menu-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list > ul > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
}

.menu-list > ul > li > a > i.fa {
   line-height: 10px;
}

.fa-ul {
    margin-top: 10px;
}

.fa-ul li {
    margin-bottom: 5px;
}

footer {
    width: 100%;
    background-color: #2780e3;
    padding-top: 70px;
    padding-bottom: 50px;
    color: #afdddd;
    /* To stick the footer to the bottom of the page */
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    min-height: 180px;
    font-size: 0.9em;
    line-height: 1.5em;
}

footer a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

footer a:hover {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.list-group-item {
    border: none;
}

.list-group-item > i {
    margin-right: 5px;
}

img.pub-thumbnail {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 21px;
}

p.pub-date-author {
    margin-bottom: 20px;
}

.card {
    border: none;
    padding: 20px 0px;
}

.card-caption {
    padding-top: 9px;
    padding-bottom: 9px;
    color: #333333;
    font-size: 0.9em;
    line-height: 1.5em;
}

.card-title {
    color: #2780e3;
}

.card-date {
    color: #aaaaaa;
}

img {
    width: 100%;
}

.container-fluid {
    padding: 0;
}

.altmetric-embed img {
    width: auto; /* Prevent img width=100% in Chrome (makes it stretched) */
}

.embed-responsive {
    margin-bottom: 30px;
}

.banner {
    background-size: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5) inset;
    margin: 0;
    width: 100%;
    display: table;
}

.banner-text {
    margin: 0;
    padding: 200px 10%;
    height: 500px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
    line-height: 1.7em;
    color: #ffffff;
    text-shadow: 2px 2px 7px #444444;
}

.summary-box {
    padding-left: 45px;
    padding-right: 45px;
}

.alert-blue {
    background-color: #2780e3;
}

.blog-roll h2 {
    margin-top: 30px;
}

.blog-roll .card {
    padding-top: 0px;
}

.blog-roll .card-thumbnail {
    padding-top: 15px;
}

.post-date {
    color: #aaaaaa;
    margin-bottom: 0px;
}

.publication-sidebar {
}

.info {
    font-size: 0.9em;
}

.info h2 {
    margin-top: 30px;
}

.alm {
    font-size: 0.9em;
}

.citation {
    font-size: 0.9em;
}

.contact {
    margin-bottom: 30px;
}

.feedback {
    margin-bottom: 20px;
}

#disqus_thread {
    margin-top: 90px;
}

.tag {
    background-color: #eeeeee;
    color: #888888;
    font-weight: lighter;
    margin-right: 5px;
}
