{# Template for a blog post #}
{% extends "base.html" %}

{% import "macros.html" as macros %}

{%- block content %}
  {% if page.article_class is defined %}
    {% set extra_classes = page.article_class %}
  {% else %}
    {% set extra_classes = "" %}
  {% endif %}
  <article class="mb-4 blog {{ extra_classes }}">
    <h1>
      {{ page.title }}
    </h1>
    <p class="text-muted mb-4">
      <i class="far fa-calendar-alt me-1" aria-hidden="true"></i>
      {{ page.date|replace("-", "/") }}
    </p>
    {{ page.body }}
  </article>
  <div class="mt-5">
    {{ macros.button_link(site["blog/index"].path|relative_to(page.path), "Back to the blog", type="btn-outline-light", icon="far fa-arrow-alt-circle-left", size="", external="false") }}
  </div>
{%- endblock %}
