{# Template for a blog post #}
{% extends "base.html" %}

{% import "macros.html" as macros %}

{%- block content %}
  {% if page.article_class is defined %}
    {% set extra_classes = page.article_class %}
  {% else %}
    {% set extra_classes = "" %}
  {% endif %}
  <article class="flow {{ extra_classes }}">
    <h1>
      {{ page.title }}
    </h1>
    <time class="text-muted" datetime="{{ page.date }}">
      <i class="far fa-calendar-alt" aria-hidden="true"></i>
      {{ page.date|replace("-", "/") }}
    </time>
    {{ page.body }}
  </article>

  <hr>

  <p class="text-right">
    <a href="{{ site["blog/index"].path|relative_to(page.path) }}">
      <i class="far fa-arrow-alt-circle-left" aria-hidden="true"></i>
      Back to the blog
    </a>
  </p>
{%- endblock %}


{%- block extrahead %}
  <!-- Ubuntu Mono font -->
  <link rel="stylesheet" href="{{ "pkg/ubuntu-mono/fonts.css"|relative_to(page.path) }}" />
  <!-- KaTeX -->
  <link rel="stylesheet" href="{{ "pkg/katex-0.15.3/katex.min.css"|relative_to(page.path) }}" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" />
{%- endblock %}


{%- block extrafoot %}
  <!-- KaTeX -->
  <script defer src="{{ "pkg/katex-0.15.3/katex.min.js"|relative_to(page.path) }}" integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous"></script>
  <script defer src="{{ "pkg/katex-0.15.3/auto-render.min.js"|relative_to(page.path) }}" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body, {
        delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '$', right: '$', display: false},
        ],
      });
    });
  </script>
{%- endblock %}
