{# Template for a blog post #}
{% extends "base.html" %}

{% import "macros.html" as macros %}

{%- block content %}
  {% if page.article_class is defined %}
    {% set extra_classes = page.article_class %}
  {% else %}
    {% set extra_classes = "" %}
  {% endif %}
  <article class="flow {{ extra_classes }}">
    <h1>
      {{ page.title }}
    </h1>
    <time class="text-muted" datetime="{{ page.date }}">
      <i class="far fa-calendar-alt" aria-hidden="true"></i>
      {{ page.date|replace("-", "/") }}
    </time>
    {{ page.body }}
  </article>

  <hr>

  <p class="text-right">
    <a href="{{ site["blog/index"].path|relative_to(page.path) }}">
      <i class="far fa-arrow-alt-circle-left" aria-hidden="true"></i>
      Back to the blog
    </a>
  </p>
{%- endblock %}
