{% extends "index.html" %}

{% block title %}
{{ category|capitalize }} - {{ SITENAME }}
{% endblock %}

{% block content %}
<h1>{{ category|capitalize }}</h1>

<ul class="paper-list">
{% for article in articles %}
    <li>
    {% if "review" in article.tags %}
        <i>(In review)</i>
    {% endif %}
    {% if "OA" in article.tags %}
        <i class="fa fa-unlock-alt" title="Open-Access"></i>
    {% endif %}
    <a href="{{SITEURL}}/{{article.url}}">{{article.title}}</a>
    ({{article.date|strftime('%Y')}}) {{article.author}},
    {% if article.journal is defined %}
        <i>{{article.journal}}</i>
    {% endif %}
    {% if article.event is defined %}
        <i>{{article.event}}</i>
    {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock %}

