{% extends "index.html" %}

{% block title %}
    {{ category|capitalize }} | {{ SITENAME }}
{% endblock %}

{% block content %}

<div class="container">

<h1>{{ category|capitalize }}</h1>

<div class="category-header">
{% for cat, content in CATEGORY_HEADERS %}
    {% if cat == category %}
        {{content}}
    {% endif %}
{% endfor %}
</div>

{% for row in articles|batch(4) %}
    <div class="row">
    {% for article in row %}
        <div class="col-md-3 col-sm-3">
        <div class="thumbnail">

            {% if article.thumbnail %}
                <img  src="{{SITEURL}}/{{article.thumbnail}}"></img>
            {% endif %}

            <div class="caption">

                <a href="{{SITEURL}}/{{article.url}}">{{article.title}}</a>

                {% if category != "software" %}
                    {% if article.date %}
                        ({{article.date|strftime('%Y')}})
                    {% endif %}
                {% endif %}

                {% if "OA" in article.tags %}
                    <i class="fa fa-unlock-alt" title="Open-Access"></i>
                {% endif %}

                {% if article.type %}
                    {% if article.type == "oral" %}
                        <i class="fa fa-comments-o" title="Oral presentation"></i>
                    {% elif article.type == "poster" %}
                        <i class="fa fa-picture-o" title="Poster presentation"></i>
                    {% elif article.type == "short course" %}
                        <i class="fa fa-info-circle" title="Short course"></i>
                    {% elif article.type == "university course" %}
                        <i class="fa fa-graduation-cap" title="University course"></i>
                    {% endif %}
                {% endif %}

                {% if "review" in article.tags %}
                    <span class="label label-warning">In review</span>
                {% endif %}

            </div>
        </div>
        </div>
    {% endfor %}
    </div>
{% endfor %}
</ul>

</div> <!-- container -->
{% endblock %}

