{% extends "base.html" %}

{% block title %}
    Blog Archives - {{ SITENAME }}
{% endblock %}

{% block content %}

<h1>Blog posts:</h1>

<ul class="post-list">
{% for article in articles %}
    <li>
    <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
        title="Permalink to {{ article.title|striptags }}">{{ article.title
        }}</a></h2>
    <abbr title="{{ article.date.isoformat() }}">
        Posted on {{ article.locale_date }}
        {% if article.author %}
            by <a href="{{ SITEURL }}/{{ article.author.url }}">
            {{ article.author }}</a>
        {% endif %}
    </abbr>
    <div> {{ article.summary }} </div>
    </li>
{% endfor %}</ul>

{% endblock %}
