{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% for keyword in article.keywords %}
        <meta name="keywords" contents="{{keyword}}" />
    {% endfor %}

    {% for description in article.description %}
        <meta name="description" contents="{{description}}" />
    {% endfor %}

    {% for tag in article.tags %}
        <meta name="tags" contents="{{tag}}" />
    {% endfor %}
{% endblock %}

{% block content %}
    <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
        title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>

    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}

    <abbr title="{{ article.date.isoformat() }}">
        Posted on {{ article.locale_date }}
        {% if article.author %}
            by <a href="{{ SITEURL }}/{{ article.author.url }}">
            {{ article.author }}</a>
        {% endif %}
    </abbr>

    {{ article.content }}

{% endblock %}
