{% extends "base.html" %}

{% block content %}

<ul>
{% for article in articles %}
    <li>
    <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
        title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
    <abbr title="{{ article.date.isoformat() }}"> Posted on {{ article.locale_date }} </abbr>
    <div> {{ article.summary }} </div>
    </li>
{% endfor %}</ul>

<a href="{{ SITEURL }}/archives.html" alt="More posts in the archives.">More
articles</a>

{% endblock content %}
