{% extends "base.html" %}
{% block head %}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}
  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}
  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
<section>
<h2 class="entry-title">
  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
      title="Permalink to {{ article.title|striptags }}">
  {{ article.title }}</a>
</h2>
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
<div class="entry-date-author">
    <p>
    Posted on {{ article.locale_date }}
    {% if article.author %}
        by <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">
        {{ article.author }}</a>
    {% endif %}
    </p>
</div>
<div class="entry-content">
    {{ article.content }}
</div>
</section>
{% endblock %}
