{% extends "base.html" %}
{% block content %}
<section>
<ol id="post-list">
{% for article in articles_page.object_list %}
    <li><article class="hentry">
        <h2 class="entry-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
               title="Permalink to {{ article.title|striptags }}">
               {{ article.title }}
           </a>
        </h2>
        <abbr class="published" title="{{ article.date.isoformat() }}">
           {{ article.locale_date }}
        </abbr>
        {% if article.author %}
            <p> By
            <a class="url fn"
               href="{{ SITEURL }}/{{ article.author.url }}">
               {{ article.author }}
           </a>
           </p>
        {% endif %}
        <div class="entry-content">
            {{ article.summary }}
        </div>
    </article></li>
{% endfor %}
</ol>
{% include 'pagination.html' %}
</section>
{% endblock content %}
