/* Define the Atkinson Hyperlegible font */

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('AtkinsonHyperlegibleNext-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('AtkinsonHyperlegibleNext-RegularItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('AtkinsonHyperlegibleNext-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('AtkinsonHyperlegibleNext-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}
