body {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    color: #333;
    font-size: 12pt;
    font-family: sans-serif;
}
p, li {
    line-height: 25px;
}
blockquote {
    font-style: italic;
}
code {
    background: #ececec;
}
a {
    color: #5ace23;
    text-decoration: none;
}
h2 {
    font-size: 20pt;
    margin-bottom: 5px;
}
h2 > a {
    color: #333;
}
h3 {
    font-size: 16pt;
    margin-bottom: 5px;
}
h3 > a {
    color: #333;
}
abbr {
    font-size: 10pt;
    border: none;
}
.content {
    margin-top: 20px;
}

/* POST LIST ON FRONT PAGE */
/* **************************************************************** */
.post-list {
    list-style-type: none;
    padding: 0;
}
.post-list li {
    border-bottom: 1px solid #d0d0d0;
}
/* **************************************************************** */

/* HEADER */
/* **************************************************************** */
header h1 {
    font-size: 20pt;
    margin-bottom: 5px;
}
header aside {
    font-size: 12pt;
}
header h1 > a {
    color: black;
}
header nav {
    margin-top: 20px;
    background: #5ace23;
    height:100%;
}
header ul {
    width: 80%;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
}
header li {
    font-size: 10pt;
    display: inline;
    text-transform: uppercase;
    padding: 10px;
    line-height: 15px;

}
header a {
    color: #ffffff;
}
header a:hover {
    color: #333;
}
/* **************************************************************** */

/* FOOTER */
/* **************************************************************** */
footer {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 10pt;
}
/* **************************************************************** */

/* MEDIA QUERIES */
/* **************************************************************** */
@media screen and (max-width: 800px) {
    body {
        width: 95%;
    }
}
/* **************************************************************** */

/* FIGURES AND IMAGES */
/* **************************************************************** */
img {
    max-width: 100%;
    height: auto;
    margin: 1em 1em 1em 0;
}
img.align-right {
    float: right;
    margin: 1em 0 1em 1em;
}
img.align-left {
    float: left;
    margin: 1em 1em 1em 0;
}

.figure {
    max-width: 100%;
    height: auto;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 4px 4px 4px 0px rgba(128, 128, 128, 0.5);
    padding: 0px;
    float: left;
    margin: 0 1em 1em 0;
}
.figure.align-right {
    float: right;
    margin: 0 0 1em 1em;
}
.figure.align-left {
    float: left;
}
.figure img {
    max-width: 95%;
    height: auto;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 10px;
    box-shadow: none;
    float: left;
}
.figure p.caption {
    margin: 0;
    font-size: 90%;
    padding: 10px;
    float: left;
    text-align: left;
    font-style: italic;
}
.figure div.legend {
    padding: 10px;
    font-size: 90%;
    color: #aaa;
    font-style: italic;
    float: left;
}
/* **************************************************************** */
