<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        <meta name="author" content="{{ site.authors[site.author] }}"/>

        {% if site.keywords %}
            <meta name="keywords" content="{{ site.keywords }}"/>
        {% endif %}

        {% block twitter_card %}
        {% endblock %}

        {% block opengraph %}
        {% endblock %}
    {% endblock %}

    <title>{% block title %}{{ site.title|striptags }}{% endblock title %}</title>
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/academicons.css">
    <link rel="stylesheet" href="/css/font-awesome.css">

    {% if site.rss is defined %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.rss }}" title="{{ site.title }}">
    {% endif %}
{% endblock head %}
</head>

<body>

    {% from "utils.html" import menu %}

    {% block banner %}
        {% if this.banner is defined %}
            {% if this.banner_position is defined %}
                {% set position = this.banner_position %}
            {% else %}
                {% set position = "center" %}
            {% endif %}
            {% if this.banner_description is defined %}
                {% set title = this.banner_description %}
            {% else %}
                {% set title = "" %}
            {% endif %}
            <div class="banner"
                 title="{{ title }}"
                 style="background-image: linear-gradient(to top, #00000022, #000000dd), url(/{{ site.banner_path }}/{{ this.banner }}); background-position: {{position}};">

                {{ menu("menu-transparent", site) }}

                <div class="banner-text" title="{{ title }}">
                    <h1>
                        {{ this.title }}
                    </h1>
                    {% if this.description is defined %}
                        <p>{{ this.description }}</p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            {{ menu("menu-opaque", site) }}
        {% endif %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    <footer>
        {% include 'footer.html' %}
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- ================================================== -->
    {% block javascript_includes %}
        <!-- Bootstrap core JavaScript -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    {% endblock %}

</body>
</html>
