{% extends "page.html" %}

{% from "utils.html" import card %}

{% macro recent_cards(category, number=2) %}
    <h2 class="category-header">
        <a href="{{ category.url }}">{{ category.title }}  »</a>
    </h2>
    <hr>
    <div class="row">
        {% for article in category.content[0:number] %}
            <div class="col-md-{{12//number}} col-sm-{{12//number}}
                        col-xs-{{12//number}}">
                {{ card(article, date=false, inprogress=true) }}
            </div>
        {% endfor %}
    </div>

{% endmacro %}


{% block breadcrumbs %}
{% endblock %}


{% block content %}

    {{ this.body }}

    {% set columns = 2 %}
    {% for row in this.content|batch(columns) %}
        <div class="row">
            {% for category in row %}
                <div class="col-md-{{12//columns}}">
                    {{ recent_cards(category, number=2) }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
