{% extends "page.html" %}
{% from "utils.html" import make_index %}

{% block twitter_card_description %}
    <meta name="twitter:description" content="{{ site.description|striptags }}">
{% endblock %}

{% block opengraph_description %}
    <meta property="og:description" content="{{ site.description|striptags }}">
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}
    {{ site.title|striptags }}
{% endblock %}


{% block body %}

    <div class="container">
        {{ this.body }}

        {% for category in this.content %}
            <div class="home-index">
                <h2 class="category-header text-center"><a href="{{ category.url }}">{{ category.title }}  »</a></h2>
                {{ make_index(category.content, site, date=false, hr=false, ncards=4) }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
