{% extends "page.html" %}
{% from "utils.html" import make_index %}

{% block body %}

    <div class="container">
        {% block content %}
            {% if not this.banner is defined %}
                <h1>{{ this.title }}</h1>
            {% endif %}
            {% if this.body is defined %}
                {{ this.body }}
            {% endif %}

            {% block index %}
                {{ make_index(this.content, site, date=false, show_oa=true) }}
            {% endblock %}
        {% endblock %}
    </div>

{% endblock %}
