<div class="container-fluid menu text-center">
    <div class="col-lg-3 menu-brand">
        <a href="/">{{ site.brand }}</a>
    </div>
    <div class="col-lg-6 menu-list">
        <ul>
            {% for url, title in site.menulinks %}
                <li><a href="{{ url }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-3 menu-list">
        <ul>
            {% for url, title in site.menuicons %}
                <li><a href="{{ url }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
