{% extends "base.html" %}


{% block twitter_card %}
    {% if this.thumbnail is defined %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@{{ site.twitter }}">
        <meta name="twitter:image" content="{{ site.url }}/{{ site.thumbnail_path }}/{{ this.thumbnail }}">
    {% else %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="{{ site.url }}/images/twitter-card-image.png">
    {% endif %}
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:title" content="{{ this.title }}">
    {% block twitter_card_description %}
        {% if this.body is defined %}
            <meta name="twitter:description" content="{{ (this.body|striptags)[:140] }}...">
        {% else %}
            <meta name="twitter:description" content="{{ this.title }}">
        {% endif %}
    {% endblock %}
{% endblock %}


{% block opengraph %}
    <meta property="og:title" content="{{ this.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ this.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if this.thumbnail is defined %}
        <meta property="og:image" content="{{ site.url }}/{{ site.thumbnail_path }}/{{ this.thumbnail }}">
    {% else %}
        <meta property="og:image" content="{{ site.url }}/images/twitter-card-image.png">
    {% endif %}
    {% block opengraph_description %}
        {% if this.body is defined %}
            <meta property="og:description" content="{{ (this.body|striptags)[:140] }}...">
        {% else %}
            <meta property="og:description" content="{{ this.title }}">
        {% endif %}
    {% endblock %}
{% endblock %}


{% block title %}
    {{ this.title|striptags }} | {{ site.title|striptags }}
{% endblock %}


{% block body %}

    {# The content class limits the size of the container #}
    <div class="container content">
        {% block breadcrumbs %}
        {% endblock %}

        {% block content %}
            {% if not this.banner is defined %}
                <h1>{{ this.title }}</h1>
            {% endif %}
            {% if this.body is defined %}
                {{ this.body }}
            {% endif %}
        {% endblock %}
    </div>

{% endblock %}
