{% extends "base.html" %}


{% block twitter_card %}
    {% if this.thumbnail is defined %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@{{ site.twitter }}">
        <meta name="twitter:image" content="{{ site.url }}/{{ site.thumbnail_path }}/{{ this.thumbnail }}">
    {% else %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="{{ site.url }}/images/twitter-card-image.png">
    {% endif %}
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:title" content="{{ this.title }}">
    {% block twitter_card_description %}
        <meta name="twitter:description" content="{{ (this.body|striptags)[:140] }}...">
    {% endblock %}
{% endblock %}


{% block opengraph %}
    <meta property="og:title" content="{{ this.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ this.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if this.thumbnail is defined %}
        <meta property="og:image" content="{{ site.url }}/{{ site.thumbnail_path }}/{{ this.thumbnail }}">
    {% else %}
        <meta property="og:image" content="{{ site.url }}/images/twitter-card-image.png">
    {% endif %}
    {% block opengraph_description %}
        <meta property="og:description" content="{{ (this.body|striptags)[:140] }}...">
    {% endblock %}
{% endblock %}


{% block title %}
    {{ this.title|striptags }} | {{ site.title|striptags }}
{% endblock %}


{% block body %}

    {% block banner %}
        {% if this.banner is defined %}
            {% if this.banner_position is defined %}
                {% set position = this.banner_position %}
            {% else %}
                {% set position = "center" %}
            {% endif %}
            {% if this.banner_description is defined %}
                {% set title = this.banner_description %}
            {% else %}
                {% set title = "" %}
            {% endif %}
            <div class="banner"
                 title="{{ title }}"
                 style="background-image: url(/images/{{this.banner}}); background-position: {{position}};">
                <div class="banner-text" title="{{ title }}">
                    {% if this.description is defined %}
                        {{ this.description }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endblock %}

    <div class="container content">

        {% block breadcrumbs %}
        {% endblock %}

        {% block content %}

            <h1>{{ this.title }}</h1>

            {{ this.body }}

        {% endblock %}

    </div>

{% endblock %}
