{% extends "page.html" %}
{% from "utils.html" import feedback, insert_thumbnail, card %}


{% block content %}


<div class="row">
    <div class="col-md-8">
<h1>{{ this.title }}</h1>

        <p class="post-date">
            {{ this.date.strftime('%B %d, %Y') }}
        </p>

        {{ insert_thumbnail(this) }}
        <p></p>

        {{ this.body }}

        {{ feedback(this, site, fancy=true) }}

    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <hr>
        <h3>From the blog</h3>
        {% set blogposts = site.reflinks['/blog']['content']|sort(attribute='date', reverse=true) %}
        {% for post in blogposts[:5] %}
            {{ card(post, year_only=false, collapse_side=true) }}
        {% endfor %}
    </div>
</div>

{% endblock %}
