{% extends "publication.html" %}
{% from "utils.html" import feedback, insert_thumbnail, make_tags, fa,
   make_index, pub_info_icon, related_pages %}


{% block content %}

    <h1>{{ this.title }}</h1>

    <ul class="fa-ul">
        <li class="post-date">
            {{ pub_info_icon("fa fa-calendar", "date") }}
            {{ this.date.strftime(' %d %B %Y') }}
        </li>
        {% if this.tags is defined %}
            <li>
                {{ pub_info_icon("fa fa-tags", "tags") }}
                {{ make_tags(this.tags) }}
            </li>
        {% endif %}
    </ul>

    {{ this.body }}

    {{ feedback(this, site, fancy=true) }}

    <h2>More from the blog</h2>
    {% set posts = site.reflinks['/blog'].content|sort(attribute='date', reverse=true) %}
    {{ make_index(posts, site, date=true, year_only=false, ncards=4, hr=false) }}

    {{ related_pages(this, site) }}

{% endblock %}
