{% extends "page.html" %}
{% from "utils.html" import fa, ai, get_authors, pub_alerts, pub_info %}


{% block content %}

<h1>{{ this.title }}</h1>

{% if this.author is defined %}
    <p class="pub-date-author">
        by {{ get_authors(this, site) }}
        {% if this.date is defined %}
            ({{ this.date.year }})
        {% endif %}
    </p>
{% endif %}

{{ pub_alerts(this, fancy=true) }}

<div class="row">
    <div class="col-md-4">

        {% if this.thumbnail is defined %}
            <img class="pub-thumbnail"
                 src="/images/thumb/{{this.thumbnail}}"></img>
        {% endif %}

        {{ pub_info(this, fancy=true) }}

        {% if this.alm is defined and this.alm %}
            <h2>Article Level Metrics</h2>
            {% if this.doi %}
                <h3>Main article</h3>
                <div data-badge-details="right" data-badge-type="medium-donut"
                 data-doi="{{this.doi}}" class="altmetric-embed"></div>
            {% endif %}
            {% if this.supplement is defined %}
                <h3>Data/Supplement</h3>
                <div data-badge-details="right" data-badge-type="medium-donut"
                 data-doi="{{this.supplement}}" class="altmetric-embed"></div>
            {% endif %}
        {% endif %}
        {% if this.citation is defined %}
            <h2>Citation</h2>
            <p>{{this.citation}}</p>
        {% endif %}
    </div>

    <div class="col-md-8">
        {% block right %}
            {{ this.body }}
        {% endblock %}
    </div>
</div>


{% endblock %}
