{% from "utils.html" import get_authors, pub_alerts, pub_info, feedback, insert_thumbnail %}
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xml:base="{{ site.url }}" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
<title>{{ site.title }}</title>
<link>{{ site.url }}</link>
<description>{{ site.description|join(' ') }}</description>
<atom:link href="{{ site.rss }}" rel="self" type="application/rss+xml" />

{% set posts = [] %}
{% for id in this.content %}
    {# Using {{ posts.extend(...) }} results in "None"s printed to the HTML.
       The alternative is to use {% set . %} and redirect to a tmp variable #}
    {% set tmp = posts.extend(site.reflinks['/' + id]['content']) %}
{% endfor %}

{% for post in posts|sort(attribute='date', reverse=true) %}
    <item>
        {% set category = post.id.split('/')[1] %}
        <title>{% if category != "blog" %}[{{ category|title }}] {% endif %}{{ post.title }}</title>
        <link>{{ site.url }}{{ post.url }}</link>
        <guid>{{ site.url }}{{ post.url }}</guid>
        <pubDate>{{ post.date.strftime('%a, %d %b %Y 12:00:00 GMT') }}</pubDate>
        {% if post.author is defined %}
        <dc:creator>{{ get_authors(post, site, fancy=false) }}</dc:creator>
        {% endif %}
        <description><![CDATA[

            {{ insert_thumbnail(post, site, fancy=false) }}

            <p></p>

            {{ pub_alerts(post, fancy=false) }}

            {% if category != "blog" %}
                <h2>Info</h2>
                {{ pub_info(post, fancy=false) }}
            {% endif %}

            {{ post.body }}

            {% if post.citation is defined %}
                <h2>Citation</h2>
                <p>{{post.citation}}</p>
            {% endif %}

            {{ feedback(post, site, fancy=false) }}

        ]]></description>
    </item>
{% endfor %}

</channel>
</rss>
