{% extends "index.html" %}
{% from "utils.html" import make_index, make_tags, fa %}

{% block title %}
    Tag "{{ this.title }}" | {{ site.title }}
{% endblock %}

{% block content %}
    Pages with {{ fa('tags')}} {{ make_tags([this.title], link=false) }}
    {# The type attribute is define by a hook in _python/hooks.py #}
    {% for group in this.content|groupby("type") %}
        {% set category = site.reflinks[group.grouper] %}
        <h2 class="category-header"><a href="{{ category.url }}">{{ category.title }}  »</a></h2>
        {{ make_index(group.list, site, date=true, year_only=true, show_oa=true, hr=false) }}
    {% endfor %}
{% endblock %}
