{% extends "page.html" %}

{% from "utils.html" import card, fa %}

{% block content %}

{{ super() }}

<div class="row">
{% for group in this.content|groupby("presentation")|reverse() %}
    <div class="col-md-6">
        <h2>{{group.grouper|capitalize()}}</h2>
        <hr>
        {% for row in group.list|batch(2) %}
            <div class="row">
                {% for article in row %}
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        {{ card(article, date=true) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

{% endblock %}
