{# Utility functions for the templates #}

{% macro fa(name, class='', title='') %}
    <i class="fa fa-{{ name }} {{ class }}" title="{{ title }}"></i>
{% endmacro %}

{% macro ai(name, class='', title='') %}
    <i class="ai ai-{{ name }} {{ class }}" title="{{ title }}"></i>
{% endmacro %}

{% macro card(page, date=true, show_oa=false, inprogress=false) %}
    <div class="thumbnail">
        {% if page.thumbnail %}
            <img src="/images/thumb/{{page.thumbnail}}">
        {%  endif %}
        <div class="caption">
            <a href="{{ page.url }}">{{ page.title }}</a>
            {% if date %}
                ({{ page.date.year }})
            {% endif %}
            {% if show_oa and page.oa %}
                {{ ai("open-access") }}
            {% endif %}
            {% if inprogress and page.inprogress %}
                <span class="label label-primary">IN PROGRESS</span>
            {% endif %}
            {% if page.inreview %}
                <span class="label label-warning">UNDER REVIEW</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}
