{# Utility functions for the templates #}

{% macro card(page, date=true) %}
    <div class="thumbnail">
        <img src="/images/thumb/{{page.thumbnail}}">
        <div class="caption">
            <a href="{{ page.url }}">{{ page.title }}</a>
            {% if date %}
                ({{ page.date.year }})
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro fa(name, class='', title='') %}
    <i class="fa fa-{{ name }} {{ class }}" title="{{ title }}"></i>
{% endmacro %}

{% macro recent_cards(category, number=2, date=true) %}
    <h1><a class="category-link"
           href="{{ category.url }}">{{ category.title }}  »</a></h1>
    <div class="row">
        {% for article in category.content[0:number] %}
            <div class="col-md-{{12//number}} col-sm-{{12//number}}">
                {{ card(article, date=date) }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}
